@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* --------------------------------- */
/* ESTILOS GLOBALES Y DE FONDO */
/* --------------------------------- */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/proyectos-fondo-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background-color: #0d1a24;
}

/* --------------------------------- */
/* ESTILOS DE TÍTULOS Y TEXTO PRINCIPAL */
/* --------------------------------- */

.proyectodiego {
    color: #f8f3e0;
}

.proyecto-titulo {
    color: #f6f1de;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.algunos {
    color: #f6f1de;
}

/* --------------------------------- */
/* ESTILOS DE TARJETAS DE PROYECTO */
/* --------------------------------- */

.proyecto {
    background-color: #f6f1de;
    color: #f6f1de; /* Color de texto base, aunque se sobrescribe en p */
}

.proyecto h2 {
    color: white;
    font-size: 20px;
    /* Fondo con degradado: de azul oscuro a tonos claros */
    background: linear-gradient(
        90deg,
        rgba(5, 56, 87, 1) 0%,
        rgba(139, 158, 164, 1) 54%,
        rgba(207, 206, 188, 1) 100%
    );
    padding: 15px;
}

.proyecto p {
    font-size: 14px;
    height: 150px;
}

/* --------------------------------- */
/* ESTILOS DE BOTONES */
/* --------------------------------- */

.btn {
    background-color: #aab9b4;
    color: #013453;
    font-weight: 600;
    margin-bottom: 7px;
}

.btn:hover {
    background-color: #77949c;
    color: #E20000;
    font-weight: 600;
}

/* --------------------------------- */
/* ESTILOS DE FOOTER */
/* --------------------------------- */

.proyectofooter {
    color: #cc1010;
}

.proyectofooter a {
    color: #cc1010;
    text-decoration: none;
}

.proyectofooter .fa-github,
.proyectofooter .fa-linkedin,
.proyectofooter .fa-facebook {
    color: #cc1010;
    font-size: 30px;
    margin: 0 15px;
}

/* Estilo del botón flotante de WhatsApp */
.btn-whatsapp {
    position: fixed;
    bottom: 0px;
    right: 20px;
}